extends ../layouts/template
append config
  -currentPage = 'Otros productos'
//- block  banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__title(v-text="mainmenu[5].title")
    section.marienco-container.main-center
      .marienco-item.m-1-3.m-50.l-block(v-for="item in mainmenu[5].submenu")
        .card.card--next-class
          a.card__img(:href="item.href + '.html'")
            img(:src="path_media + item.src")
          .card__content
            .card__title
              p.center(v-text="item.title")
            footer.card__footer.to-center
              .card__button
                a.button--ghost--tertiary.button--small(:href="item.href + '.html'") Ver más