extends ../layouts/template
append config
  -currentPage = 'Mirasafe'
//- block banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__subtitle(v-text="mainmenu[5].submenu[2].title")
    .marienco-container.gallery
      .marienco-item.m-1-3.m-50.l-block(v-for="item in  mainmenu[5].submenu[2].gallery")
        .card.card--next-class
          a.card__img.gallery__img(:href="path_media + item.full")
            img.to-center(:src="path_media + item.thumb")