*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  background : $bodyBg;
  background: linear-gradient(90deg,#6d6d6d,#d7d7d7,#878787,#afafaf, #868686, #474747);
}

strong,
em {
  font-weight : 700;
}

ul {
  padding-left : 0;
  margin-left  : 2rem;
}
button{
  outline: none;
}
