extends ../layouts/template
append config
  -currentPage = 'Geomembranas - Geosinteticos'
//- block banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__subtitle(v-text="mainmenu[0].submenu[0].title")
    section.marienco-container.main-center
      .l-75.to-center.l-block(v-for="item in mainmenu[0].submenu[0].subsubmenu")
        .card.card--mini-horizontal
          .card__img
            img(src='')
          .card__content
            .card__title(v-text="item.title")
            .card__body(v-html="item.description")
