extends ../layouts/template
append config
  -currentPage = 'Geotubos - Geosintéticos'
//- block banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__subtitle(v-text="mainmenu[0].submenu[2].title")
    p Geotextiles permeables de alta resistencia, con propiedades únicas de diseño para la retención, son utilizados para la fabricación de Geotubos, los cuales pueden ser llenados con sedimentos de grano fino, suelos contaminados o materiales de descarga de dragados.  
    p El tejido único y la fabricación de geotextil crean poros pequeños, conteniendo los granos finos del material confinado. El exceso de agua drena fuera del Geotubo a través de los poros pequeños del geotextil, resultando en un drenaje efectivo y una reducción del volumen del material contenido.  
    p Esta reducción de volumen permite que el Geotubo sea llenado varias veces.  En muchos casos, el agua decantada es de una calidad tal que puede volver a corrientes naturales o ser reutilizada.
    p Después del ciclo final del llenado y drenaje, los materiales finos contenidos pueden continuar su consolidación por desecación, pues el vapor de agua residual sale a través del geotextil.  Esto resulta en un mayor ahorro, económico, de espacio y tiempo para la disposición de residuos.

    .marienco-container.gallery
      .marienco-item.m-1-3.m-50.l-block(v-for="item in  mainmenu[0].submenu[2].gallery")
        .card.card--next-class
          a.card__img.gallery__img(:href="path_media + item.full")
            img.to-center(:src="path_media + item.thumb")