extends layouts/template
append config
  -currentPage = 'Contactos'
//- block  banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__title Contáctenos
    form.marienco-container.form(v-on:submit.prevent="submitForm")
      .m-50.s-100.wow.fadeInRight(data-wow-duration="1.5s" data-wow-delay="0")
        .marienco-item.form__item
          label.form__label(for="") Nombre completo: 
          input.form__input(v-model="vue.nombre" type="text" required="")
        .marienco-item.form__item
          label.form__label(for="") Teléfono: 
          input.form__input(v-model="vue.telefono" type="number")
        .marienco-item.form__item
          label.form__label(for="") Celular: 
          input.form__input(v-model="vue.movil" type="number" required="")
        .marienco-item.form__item
          label.form__label(for="") Dirección: 
          input.form__input(v-model="vue.direccion" type="text" required="")
        .marienco-item.form__item
          label.form__label(for="") Ciudad: 
          input.form__input(v-model="vue.ciudad" type="text" required="")
      .m-50.s-100.wow.fadeInLeft(data-wow-duration="1.5s" data-wow-delay="0")
        .marienco-item.form__item
          label.form__label(for="") Email: 
          input.form__input(v-model="vue.email" type="email" required="")
        .marienco-item.form__item
          label.form__label(for="") Mensaje: 
          textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
        .marienco-item.form__item.main-center
          button.button--ghost.button--small(type="submit") Enviar
          button.button--ghost.button--small(v-on:click="clearForm()") Limpiar
        .statusMessage(v-if="formSubmitted")
          h4(v-text="vue.envio")
    h2.main-main__title Ubíquenos
    include components/google-map