extends layouts/template
append config
  -currentPage = 'Inicio'
block  banner
  include components/slider
block main
  include components/slider-text
  .main-main.marienco-item.l-block
    h2.main-main__title Bienvenido
    p MARIENCO TECNOLOGIA & CONTROL es una empresa de ingeniería, servicios, suministros, instalación, mantenimiento y asistencia técnica de productos y materiales aplicados a tecnologías innovadoras en varios sectores de la industria boliviana.
    //- a(href= path_page + "stylesguide").button Ver guia de estilos
    h3.main-main__subtitle Membresias
    .marienco-container.main-center
      .l-block.marienco-item.l-30.m-40.s-70
        p Somos la única empresa en Bolivia miembro de la Asociación Internacional de Instaladores de 
          a(href="http://www.iagi.org" target="_blank").button--ghost--tertiary.button--small Geocintéticos IAGI
      .l-block.marienco-item.l-30.m-40.s-70
        .card.card--mini
          .card__img
            img(src='http://marienco.com/images/representantes/iagi.jpg')
          .card__content
            .card__title Asociación Internacional de Instladores Geocintéticos IAGI 
            .card__body
            footer.card__footer.to-center
              .card__button
                a.button--cta.button--small(href='#') Visitar sitio
    h3.main-main__subtitle Servicios
    .marienco-container
      .marienco-item.l-50
        h3 Servicio de instalación de Geomembranas
        hr
        p Ofrecemos servicios de alta tecnología y especialización en el campo de geosintéticos como empresa instaladora de geomembranas de polietileno de alta densidad (HDPE) y PVC, aplicando nuevas tecnologías para la instalación y control de calidad de los trabajos que realizamos.
        p Utilizando equipos de termofusionado y extrusión para la soldadura de la geomembrana, y siguiendo estrictamente los lineamentos de nuestros procedimientos internos de Aseguramiento y Control de Calidad establecidos en nuestro pdfManual de Control de Calidad y Seguridad Cualitativa podemos garantizar instalaciones libres de desperfectos.  Las pruebas de control de calidad que realizamos son las de aire, chispa, tensiometro de campo y vacío (destructivas y no destructivas).
      .marienco-item.l-50
        h3 Servicio electromecánicos
        hr
        p Contamos con personal capacitado para el montaje y calibración de válvulas de control y operación, y de sistemas de medición de fluidos, aplicados a proyectos de saneamiento básico.
        h3 Servicio para grupos de Generación de energía
        hr
        p Nuestra empresa se especializa en la instalación, puesta en marcha y mantenimiento de grupos electrógenos a diesel.