extends layouts/template
append config
  -currentPage = 'Informacion técnica'
//- block  banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__title= currentPage
    ul.data-list.marienco-container
      li(v-for="item in mainmenu[7].docs").marienco-item.l-50
        p.strong
          img(:src="path_media +'images/' +  item.type + '-icon.png'", :alt="item.type")
          a(:href='path_media + item.href + "." + item.type' target="_blank")
            span(v-text="' ' + item.title")
        a.button--cta.button--small.small(:href='path_media + item.href + "." + item.type' :download="item.title")
          span Descargar 
          span(v-text="item.type")