extends layouts/template
append config
  -currentPage = 'Nosotros'
//- block  banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__title Nosotros
    p MARIENCO TECNOLOGIA & CONTROL es una empresa de ingeniería, servicios, suministros, instalación, mantenimiento y asistencia técnica de productos y materiales aplicados a tecnologías innovadoras en varios sectores de la industria boliviana.  Desde 1992, nos hemos convertido en una empresa líder en el mercado boliviano, atendiendo los exigentes requerimientos de las empresas más reconocidas del país dentro en las áreas de Minería, Gas & Petróleo, Construcción Civil, Servicios Básicos, Telecomunicaciones, Industria y Entidades Publicas.
    p Las actividades de la empresa se concentran en la aplicación de tecnologías innovadoras en la impermeabilización y revestimiento de lagunas, diques y presas de contención, pilas de lixiviación, canales, túneles, represas, embalses, filtracion, mejoramiento, estabilización y reforzamiento de suelos, control de erosión, estabilización de taludes, conducción de fluidos y drenajes, control de fluidos, medición de fluidos, sistemas de bombeo, generación de energía , entre otras.
    //- a(href= path_page + "stylesguide").button Ver guia de estilos 