extends layouts/template
append config
  -currentPage = 'Proyectos'
//- block  banner
  include components/slider
block main
  .main-main.marienco-item.l-block
    h2.main-main__title Proyectos
    p MARIENCO TECNOLOGIA & CONTROL es una empresa de ingeniería, servicios, suministros, instalación, mantenimiento y asistencia técnica de productos y materiales aplicados a tecnologías innovadoras en varios sectores de la industria boliviana.
    //- a(href= path_page + "stylesguide").button Ver guia de estilos 