extends ../layouts/template-stylesguide
append config
  -currentPage = 'botones'

block banner
  //- block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Botones', '', 'accent')

block main
  p Los botones usan la clase <code>button</code> o alguna variacion de <code>button--</code>. En
    |  los siguientes botones se indica las clases que debe llevar
  .show-buttons
    a.button.center.l-block class="button center"
    a.button.full.l-block class="button full"
    a.button.l-block class="button"
    a.button--alert.l-block class="button--alert"
    a.button--cta.l-block class="button--cta"
    br
    a.button--ghost.l-block class="button--ghost"
    a.button--ghost--alert.l-block class="button--ghost--alert"
    a.button--ghost--cta.l-block class="button--ghost--cta"

  p Si se necesita un grupo de botones centrados, basta agruparlos en un contedor
    | que tenga la propiedad <code>text-align:center</code> o la clase
    | <code>center</code>. Ejemplo:

  .center.show-buttons.l-block
    a.button--tertiary class="button--tertiary"
    a.button--cta class="button--cta"

  p Tenga en cuenta que no necesita agregar dos clases para variaciones estilo BEM:
  ul
    li <code>class="button button--secondary"</code> Incorrecto
    li <code>class="button--secondary"</code> Correcto

  p Los botones tienen tres variaciones de tamaños. Se indican a continuación las clases correspondientes. Ejemplos:

  .show-buttons.l-block
    a.button.big class="button big"
    a.button--cta class="button--cta"
    a.button--alert.small.l-block class="button--alert small"

  h2 Button small
  p La variación <code>button--small</code> tiene menor padding para ajustarse a tamaños pequeños de fuente. Compare:

  .show-buttons
    a.button--alert.small.l-block class="button--alert small"
    a.button--alert.button--small.l-block class="button--alert button--small"
    br
    a.button--ghost.l-block class="button--ghost"
    a.button--ghost.button--small.l-block class="button--ghost button--small"
