/*
* Button definitions at config/_buttons.scss
*/

// Basic buttons
.button,
[class*="button--"]{
  @include button;
  &.center        { @include button-center }
  &.full          { @include button-full }
  &.button--small { @include button-small }
  &.button--last  { @include button-last }
  &.big           { font-size: fontSize(title3) }
}
.button{
  position: relative;
  border-radius: 1.4rem 0 0 1.4rem;
  box-shadow: -2px 2px 5px $secondColor;
  border-bottom: 0.5px solid $bodyBg;
  background      : linear-gradient(lighten($firstColorAlt, 10), darken($firstColor, 10),$firstColorAlt, lighten($firstColorAlt, 15) );
  // &:hover {
  //   background    : linear-gradient(lighten($secondColor, 20),$secondColor, lighten($secondColor, 40));
  // }
  &::after{
    content: '';
    background: #888888;
    width: 53px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50px 50px 50px 50px;
    box-shadow: inset -13px 6px 20px 10px $darkColor;
    border-left: 2px solid $bodyBg;
    border-right: 2px solid $bodyBg;
    transform: perspective(600px) rotateY(70deg) translateX(50%);
    transform-origin: right;
    transform-style: preserve-3d;
  }
  &>a{
    color: #fff;
  }
}
// Buttons variations
.button--secondary     { @include button-secondary }
.button--alert     { @include button-alert }
.button--cta       { @include button-cta }

// Ghost buttons
[class*="button--ghost"]  { @include button-ghost }
.button-ghost-firt        { @include button-ghost-firt }
.button--ghost--alert     { @include button-ghost-alert }
.button--ghost--cta       { @include button-ghost-cta }

// Show buttons in style guide
.show-buttons {
  .button, [class*="button--"] {
    //margin-bottom : 2rem;
  }
}
