.gallery {
  &__img{
    &::after{
      content: '\64';
      @include icon-before;
      @include mainCenter;
      @include crossCenter;
      position   : absolute;
      top        : 0;
      width      : 100%;
      height     : 100%;
      background : rgba(0, 0, 0, 0.288);
      font-size  : fontSize(title1);
      will-change: transform;
      transform  : scale(0);
      transition : 0.5s transform;
    }
    &:hover{
      cursor: zoom-in;
      &::after{
        transform: scale(1)
      }
    }
  }
}