.main-logo {
  height  : 5rem; 
  display : block;
  object-fit: contain;
  object-position: center;
  @include to(l){
    position: relative;
    height: 5rem;
    width: 100%;
  }
  img{
    position: absolute;
    max-height: 5rem;
    top: 20px;
  }
}
