@function texto3d($numero,$color) {
  $text-shadow: 1px 1px #{$color};
  @for $i from 1 through $numero {
    $text-shadow: '#{$text-shadow}, #{$i}px -#{$i}px #{$color}';
  }
  @return unquote($text-shadow);
}
.main-footer {
  background : url('../images/footer.jpg  ') $darkColor;
  background-position: bottom;
  background-size: 100%;
  background-attachment: fixed;
  color      : #FFF;
  padding    : 1rem 0;
  font-size  : fontSize(small);
  margin-top : auto;
  .marienco-item{
    margin-bottom: .7rem;
  }
  &__content{
    @include mainCenter;
    background: transparentize($darkColor, .5);
    padding: 1rem 1rem 0 1rem;
  }
  h2{
    text-shadow: texto3d(6,$darkColor);
    text-transform: uppercase;
  }
  a{
    font-family: $button-font;
    color      : inherit;
    // background: rgba(0, 0, 0, 0.295);
    padding: 3px 6px;
  }
  p{
    margin-bottom: 1rem;    
    // text-shadow: texto3d(10,$darkColor);
  }
}
