.main-header {
  position      : fixed;
  height        : 4rem;
  background    : linear-gradient(transparentize($firstColorAlt, 0.2), $firstColor); 
  border-bottom : 1px solid $borderColor;
  display       : flex;
  align-items   : center;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : $z-fixed;
}
