.main-main{
  background   : $bodyBg;
  &__title{
    background: $secondColor;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: .5rem 0 0;
  }
  &__subtitle{
    background: linear-gradient($thirdColor,$thirdColorAlt,lighten($thirdColorAlt, 10),$thirdColor);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: .5rem .5rem 0.1rem 0;
    font-size: 2rem;
    text-shadow: -1px 1px 1px $textColor;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}