.representations{
  .tns-controls,[data-action],.tns-nav{
    display: none;
  }
  &__title{
    background: $firstColor;
    color: #FFF;
    padding: 0.5rem 0.5rem 0.3rem;
    text-align: center;
  }
  .tns-horizontal.tns-subpixel > .tns-item{
    display: inline-flex;
    justify-content: center;
  }
}