.button{
  padding: 0;
  button{
    height: 100%;
    float: left;
    padding: 0.3rem 1rem;
    background: transparent;
    border: none;
    color: white;
    border-right: solid 1px;
    border-radius: 1.4rem 0 0 1.4rem;
    font-size: fontSize(title1);
    font-family: serif;
    cursor: cell;
    &:hover {
      background: linear-gradient(lighten($secondColor, 20),$secondColor, lighten($secondColor, 40));
    }
  }
  a{
    padding: 1rem 1rem 1rem 0.5rem;
    font-size: fontSize(normal);
    font-family: $button-font;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 1.4rem 0 0 1.4rem;
    &:hover {
      background: linear-gradient(lighten($secondColor, 20),$secondColor, lighten($secondColor, 40));
    }
  }
  button + a {
    border-radius: 0;
  }
  &:hover{
    background: linear-gradient(lighten($firstColorAlt, 10), darken($firstColor, 10),$firstColorAlt, lighten($firstColorAlt, 15) );
  }
}