.vertical-menu-toggle {
  background-size : 100% 34%;
  color: $firstColor;
  font-size : fontSize(small);
  @include to(l) {
    display : flex;
  }
  &::before {
    content: "";
    display : block;
    width : .5em;
    height : 1.2em;
    background-image: radial-gradient(circle, $textColor 2px, transparent 2px);
    background-size : 100% 34%;
    margin-right : .2em;
  }
  &::after {
    content: attr(data-content)
  }
}

.vertical-menu {
  border-right : 1px solid $borderColor;
  // @include to(l) {
  //   max-height : 0;
  //   transition: max-height .5s;
  //   overflow : hidden;

  //   &.show {
  //     max-height : 1000px;
  //     margin-bottom : 1em;
  //   }

  //   .active::before {
  //     display : none;
  //   }
  // }

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  li.marienco-container {
    padding : .4em 0;
    border-bottom : none;
    font-size : fontSize(normal);
  }
  
  a {
    @include mainCenter;
    @include crossCenter;
    height: 100%;
    font-family: $button-font;
    border-bottom: solid $borderColor 1px;
    &:hover {
        text-decoration : none;
      }
    &.active {
      &:hover {
        text-decoration : none;
      }
    }
  }
  &__acordion{
    background: #fff;
    overflow: hidden;
    width: 100%;
    margin-right: 2rem;
    margin-left: 1.2rem;
    padding-left: 0;
  }

  // .active {
  //   margin-right: 15px;
  //   background      : linear-gradient(lighten($secondColor, 20),$secondColor, lighten($secondColor, 5) , lighten($secondColor, 35));
  // }
}
