- var currentPage = 'Inicio'
- var siteName = 'MARIENCO SRL "Tecnología y control"'
- var slogan = 'Instalación e insumos geosintéticos, tuberías de HDPE y acero'
- var description = 'Geosinteticos, geomenbranas, geotextiles, geomenbrana de polietileno HDPE, LLDPE, geomembranas PVC. Geocompuestos, geomallas, geogrillas. Geotubos, control de erosión, biomantas para el control de erosión. Servicio de impermeabilización, geomenbranas de HDPE, provisión e instalación. Sistemas de control de inundaciones. Tuberías de HDPE y acero, tuberías de corrugada de drenaje HDPE. Válvulas y bombas, válvulas de control, válvulas de operación. Generadores de energía. Macromedición, medición de combustibles. Guardavías (Flex Bean). Bolsacretos, Mirasafe, Anclaje de HPDE, Revestimientos de arcilla geosintética, Aljibes para almacenamiento de agua'
- var keywords = 'Marienco, Marienco Bolivia, tecnología y control, Marienco santa cruz, Tuberías corrugadas de polietileno de alta densidad (HDPE),Geomembranas de Polietileno de Alta Densidad (HDPE),Geomembranas de PVC, Geotextiles, Bolsacretos, Geogrillas, Geotubos, Mirasafe, Anclaje de HPDE (Engelock), Revestimientos de Arcilla Geosintetica (GCL), Biomantas para el Control de Erosión, Válvulas de control, Válvulas de Operación, Bombas de Achique, Bombas Sumergibles para pozos profundos, Bombas Centrifugas, Macromedición, Medición de combustibles, Grupos de Generación de Energía a Diesel, sistemas de bombeo, generación de energía, drenage, geotextiles, geomembranasm medición de fluidos, sistemas de bombeos'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'