block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name="description" content=description)
    meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    meta(property="og:description" content=description)  
    meta(name='author', content='')
    meta(name='keywords', content=keywords)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href= path_media + "css/styles.css?v=1.0.0")
    link(rel="shortcut icon" href= path_media + "img/favicon.png")
  body(class=currentPage)
    #app
      block banner
      include ../components/header
      block topbar
      .marienco-container.main-section.l-section
        aside.marienco-item.l-25.main-sidebar.sidebar-first
          include ../components/vertical-menu
        main.l-75.marienco-item
          block main
      include ../components/representaciones.pug
      include ../components/footer.pug
    script(src= path_media + "js/modernizr.js")
    script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyCB69fT0i5alC-TQZ_7GrTxlm3k_hY8Yh8")
    script(src= path_media + "js/script.js?v=1.0.0")
    //- script(src="js/prism.js?v2")
