td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.ah {
    color: #fff;
    opacity: .18;
}
img.icon-zoom-in{
  height: 40px;
}
.button--docs{
  @include crossCenter;
}
