footer.main-footer
  .marienco-container
    .marienco-item.xl-35.l-40
      .main-footer__content
        h2.center Productos en general
      hr
      .main-footer__content
        ul.feature-list.marienco-container
          li.m-50.marienco-container(v-for="item in mainmenu")
            a(:href="path_page + item.href" v-text="item.title")
            //- ul
              li(v-for="subitem in item.submenu")
                a.button--cta(:href="'#' + subitem.href" v-text="subitem.title")
                ul
                  li(v-for="subsubitem in subitem.subsubmenu"): a(:href="'#' + subsubitem.href" v-text="subsubitem.title")
    .marienco-item.xl-45.l-40
      .main-footer__content
        h2.center Oficinas - Santa Cruz de la Sierra, Bolivia
      hr
      .main-footer__content
        p Para mayor información acerca de nuestros servicios puede escribirnos, o encontrarnos en:
        p Edificio La Casona
          br
          | Oficina N° 120, Avenida Cristóbal de Mendoza N° 246
          br
          | Telefono: +591 3-341-1929 / Celular: +591 708-90500
          br
          | E-mail: info@marienco.com 
          a(href= path_page + "contactos.html").button--ghost.button--small >> Ver mapa
    .marienco-item.xl-20.l-20
      .main-footer__content
        h2.center Marienco
      hr
      .main-footer__content
        include social 
        p Marienco 
          span#getDate
          | ,© Todos los derechos reservados. 
        p.center: a.ah(href="//ahpublic.com" target="_blank") Diseño y Programación:<br>AH! PUBLICIDAD
