header.main-header
  .marienco-container
    .marienco-item.s-80.l-25.cross-center
      include logo        
    .marienco-item.s-20.l-75.cross-center.main-end.header-links
      nav.main-menu#main-menu.vertical-menu
        ul.main-menu__inicio
          li(v-for="item  in menuinicio"): a.button-ghost-firt.button--small(:href= "path_page + item.href" v-text="item.title")        
        ul#vertical-menu.to-l
          li.marienco-container(v-for="(value, id) in mainmenu")
            .button.marienco-item
              button(v-if="value.submenu" v-on:click="acordionVue(id)") +
              a(:href="path_page + value.href" v-text="value.title")
            transition(name="acordion")
              ul.vertical-menu__acordion(v-show="value.state")
                li(v-for="subitem in value.submenu")
                  a.button--secondary.full(data-scroll :href="path_page + value.href + '/' + subitem.href + '.html'" v-text="subitem.title")
      .main-menu-toggle.to-l#main-menu-toggle
