a(href= path_page).main-logo
  img.wow.fadeInLeft(src= path_media + 'images/marienco-01.png', alt="" data-wow-duration="2s" data-wow-delay="1s")
  img.wow.fadeInRight(src= path_media + 'images/marienco-02.png', alt="" data-wow-duration="2s" data-wow-delay="1s")
  img.wow.fadeInLeft(src= path_media + 'images/marienco-03.png', alt="" data-wow-duration="2s" data-wow-delay="0s")
  img.wow.fadeInRight(src= path_media + 'images/marienco-M.png', alt="" data-wow-duration="2s" data-wow-delay="0s")
  img.wow.fadeInUp(src= path_media + 'images/marienco-marienco.png', alt="" data-wow-duration="2s" data-wow-delay=".5s")
  img.wow.fadeInDown(src= path_media + 'images/marienco-tyc.png', alt="" data-wow-duration="2s" data-wow-delay=".5s")
  //- img(src= path_media + 'images/marienco-logo.png' alt="Marienco").main-logo