.representations.l-block
  .main-main
    h2.l-block.t1.representations__title REPRESENTACIONES
  .carousel-slider
    div(v-for="item in represents")
      .card.card--mini
        a.card__img(:href="item.href" target="_black")
          img(:src="path_media + item.src", :alt="item.title")
        .card__content
          .card__title.center(v-text="item.title")
          .card__body
            //- p 
          footer.card__footer
            .card__button.marienco-item.main-center
              a(:href="item.href" target="_black").button--cta.button--small Visitar sitio
    