ul.cb-slideshow.cb-slideshow-relative
	li
		div
			h2 #{siteName}
	li
		div
			h2 #{siteName}
	li
		div
			h2 #{siteName}
	li
		div
			h2 #{siteName}
	li
		div
			h2 #{siteName}
	li
		div
			h2 #{siteName}