ul.social
  li
    a.icon-facebook(href='https://www.facebook.com/Marienco-SRL-181145571954825/', target='_blank')
  li
    a.icon-twitter(href='#', target='_blank')
  li
    a.icon-youtube(href='#', target='_blank')