//- #vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="Filtros")
nav.vertical-menu.scrollbar.from-l
  ul#vertical-menu
    li.marienco-container(v-for="(value, id) in mainmenu")
      .button.marienco-item
        button(v-if="value.submenu" v-on:click="acordionVue(id)") +
        a(:href="path_page + value.href" v-text="value.title")
      transition(name="acordion")
        ul.vertical-menu__acordion(v-show="value.state")
          li(v-for="subitem in value.submenu")
            a.button--secondary.full(data-scroll :href="path_page + value.href + '/' + subitem.href + '.html'" v-text="subitem.title")
            //- ul
              li(v-for="subsubitem in subitem.subsubmenu"): a.button--(:href="'#' + subsubitem.href" v-text="subsubitem.title")