// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 2em;
  color           : #FFF;
  margin-right    : 2rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .3rem 1rem;
  font-size: fontSize(small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-alert {
  background : $thirdColor;
  &:hover {
    background : $thirdColorAlt;
  }
}

@mixin button-secondary {
  background : #FFF;
  color: $secondColor;
  padding: 0.5em;
  &:hover {
    background : darken(#FFF, 10);
    color: $secondColorAlt;
  }
}

@mixin button-cta {
  background : $accentColor;
  &:hover {
    background : $accentColorAlt;
  }
}

@mixin button-ghost {
  color      : $firstColor;
  background : none;
  border     : 1px solid;
  
  &:hover {
    background   : $firstColor;
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-firt {
  color      : #FFF;
  background : none;
  border     : 1px solid;

  &:hover {
    background   : $secondColor;
    color        : #FFF;
  }
}

@mixin button-ghost-alert {
  color : $thirdColor;

  &:hover {
    background : $thirdColor;
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;

  &:hover {
    background : $accentColor;
    color      : green;
  }
}
