// Typography config
// This file doesn't generate any css
// CSS for typography will be generate from theme/_typography.scss file.

// Convert pixels to rem
@function rem($px) {
  @return ($px / 16px) * 1rem;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ContrailOne-Regular';
  src: url('../fonts/ContrailOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Font families
$body-font   : Lato, 'sans-serif'; // only 400 and 400i
$button-font : 'ContrailOne-Regular', 'sans-serif';
$heading-font : $button-font; //'BebasNeueRegular', 'sans-serif'; // only 700

// Font sizes
$fontSizes: (
  title1  : rem(36px),
  title2  : rem(24px),
  title3  : rem(20px),
  normal  : rem(18px),
  small   : rem(16px),
);

// Get font size from map
@function fontSize($size) {
  @if map-has-key($fontSizes, $size) {
    @return map-get($fontSizes,$size)
  } @else {
    @error '$size is not valid, valid values are t1, t2, t3, normal, small, smaller'
  }
}

// Mixins
@mixin t1 {
  font-size: fontSize(title1);
  @include to(l) { font-size: fontSize(title2) }
}
@mixin t1x2 {
  font-size: fontSize(title1)*2;
  @include to(l) { font-size: fontSize(title2)*2 }
}

@mixin t2 {
  font-size: fontSize(title2);
  @include to(l) { font-size: fontSize(title3) }
}

@mixin t3 {
  font-size: fontSize(title3);
  @include to(l) { font-size: fontSize(normal) }
}

//Fontastic
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}
@mixin icon-before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @include icon-before;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\63";
}
.icon-zoom-in:before {
  content: "\64";
}