// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : marienco-container;
$item      : marienco-item;
$max-width  : 1344px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor     : #009B2F;
$firstColorAlt  : green;
$secondColor    : #5F5C5D;
$secondColorAlt : #454953;
$thirdColor     : #FFC732;
$thirdColorAlt  : #dda000;
$accentColor    : #007bdf;
$accentColorAlt : #006dc6;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #e2e7ec;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

:root {
  --first-color      : #009B2F;
  --first-color-alt  : green;
  --second-color     : #5F5C5D;
  --second-color-alt : #2f3a52;
  --third-color      : #FFC732;
  --third-color-alt  : #dda000;
  --accent-color     : #007bdf;
  --accent-color-alt : #006dc6;
  --dark-color       : #282D31;
  --border-color     : #DFE0E0;
  --text-color       : #53575A;
  --body-bg          : #FAFDFF;
}

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: '../images';
